.finalFooter{
    background-color: #556d0b;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    line-height: 4vh;
}