.navig{
    background-color: #556d0b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.2em;
}
.navig-content{
    display: flex;
    margin-left: auto;
    /* width: 40vw; */
    justify-content: space-between;
    align-items: center;
}
.navig-second{
    width: 100%;
    padding: 0 1.2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
.navig-second p{
    font-size: 1.7vw;
    color: purple;
}
.navig-third{
    padding: 0.5em 1.2em;
    border-bottom: 1px solid #ddd;
    color: #556d0b;
    background-color: #fff;
    box-shadow: 5px 3px 5px rgba(0,0,0,0.524);
}
.signUpform{
    border: none;
    outline: none;
    padding: 1vw;
    width: 100%;
    border-bottom: 1px solid #ddd;
} 
.login-signUp{
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
}

/* IF CART IS EMPTY THEN ERROR CART PAGE WILL DISPLAY */
.errorCartPage {
    background: url(https://cdn.dribbble.com/users/5107895/screenshots/14532312/media/a7e6c2e9333d0989e3a54c95dd8321d7.gif) no-repeat;
    height: 100%;
    width: 100%;
    /* background-size: 25vw; */
    background-size: cover;
    background-position: center;
 
    position: relative;
  }
  .errorGoBackBtnCart {
    border: none;
    outline: none;
    padding: 1vw 2vw;
    border-radius: 6px;
    font-weight: 600;
    background-color: tomato;
    color: white;
    position: absolute;
    top: 60%;
    left: 45%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  /* IF CART IS NOT EMPTY  */
  .top-cart-container {
    background-color: #f0f8d7;
    height: 100%;
  }
  .topDiv-cart {
    width: 100%;
    padding: 1vh 2vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
  }
  .emptyCartBtn {
    border: none;
    padding: 0 1vw;
    background-color: rgb(156, 99, 111);
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  .cartCon {
    width: 100%;
    display: flex;
    height: 90%;
  }
  .cartDiv {
    padding-bottom: 5vh;
    /* background-color: rgb(140, 156, 156); */
    background-color: #e5d5ec;
    width: 75%;
    height: 100%;
    max-height: fit-content;
    overflow: scroll;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    padding: 1vw 2vw;
  }
  .cartDiv::-webkit-scrollbar{
    display: none;
  }
  .billDiv {
    width: 30%;
    padding: 2vw 2.5vw;
    line-height: 8vh;
    text-align: center;
    background-color: #ddd;

  }
  .cartCard {
    display: flex;
    border: 1px solid #888;
    background-color: darkseagreen;
    /* background-color: var(--cardCartBg); */
    border-radius: 12px;
    width: 90%;
    margin: auto;
    margin-top: 3vh;
    overflow: hidden;
    padding: 1vw;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.6);
  }
  .cartCardContent {
    padding: 1vw 2vw;
    width: 75%;
  }
  .cartCardImg {
    border-radius: 5px;
    box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.6);
  }
  .cartCardHead {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .decreBtn {
    border: 2px solid;
    border-radius: 5px;
    padding: 0.2vw 1vw;
    margin-right: 0.3em;
    font-size: 1.7vw;
    font-weight: 800;
    background-color: rgb(252, 170, 170);
    color: red;
    cursor: pointer;
  }
  .increBtn {
    border: 2px solid;
    border-radius: 5px;
    padding: 0.2vw 1vw;
    margin-left: 0.3em;
    font-size: 1.7vw;
    font-weight: 800;
    background-color: rgb(185, 250, 185);
    color: green;
    cursor: pointer;
  }
  .removeItem {
    padding: 0.7vw;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 17, 81);
    color: white;
    cursor: pointer;
  }
  .checkoutBtn{
      padding: 0.5vw;
      display: flex;
      align-items: center;
      width: 50%;
      font-weight: 600;
      border: none;
      border-radius: 7px;
      background-color: rgb(126, 247, 126);
      box-shadow: 2px 2px 2px  rgb(3, 2, 2);
      cursor: pointer;
  }
  .checkoutBtn:hover{
      background-color: rgb(26, 143, 26);
  }
